pkgbase = vvvvvv-archipelago-git
	pkgdesc = A retro-styled 2D platformer patched for Archipelago multiworld
	pkgver = 20250412.027daa5d
	pkgrel = 2
	url = https://github.com/peppidesu/vvvvvv-archipelago-git.git
	install = vvvvvv-archipelago-git.install
	arch = i686
	arch = x86_64
	license = custom
	makedepends = git
	makedepends = cmake
	depends = sh
	depends = sdl2_mixer
	provides = vvvvvv-archipelago
	conflicts = vvvvvv-archipelago
	source = git+https://github.com/N00byKing/VVVVVV
	source = git+https://github.com/lvandeve/lodepng
	source = git+https://github.com/icculus/physfs/
	source = git+https://github.com/leethomason/tinyxml2/
	source = git+https://github.com/FNA-XNA/FAudio
	source = git+https://github.com/Mashpoe/c-hashmap
	source = git+https://github.com/N00byKing/APCpp
	source = git+https://github.com/Tehreer/SheenBidi
	source = git+https://github.com/machinezone/IXWebSocket
	source = git+https://github.com/open-source-parsers/jsoncpp
	source = git+https://github.com/madler/zlib
	source = vvvvvv-archipelago.sh
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 0c0d10f1a64a5c3bf703af38cb0f79fa7b77fb7f43e8eec9a906da454f1e34d1

pkgname = vvvvvv-archipelago-git
